<template>
  <div class="grid_form">
    <grid-item
      class="grid_form__item"
      v-for="value in values"
      :key="value.id"
      :selected="modelValue"
      :value="value"
      @click="select(value.id)"
    />
  </div>
</template>

<script>
import SelectFormMixin from "../mixins/SelectFormMixin";
import GridItem from "./UI/GridItem.vue";
export default {
  components: { GridItem },
  name: "GridForm",
  mixins: [SelectFormMixin],
};
</script>

<style lang="less" scoped>
.grid_form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 267px;
  max-width: 600px;
}
</style>